<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Сводный отчёт по осложнениям</title>

  <style>
      body {
          width: 100% !important;
          font-family: 'Segoe UI', Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #eeeeee;
      }
  </style>
</head>

<body>
<table bgcolor="#eeeeee" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%;">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px;">

        <tr>
          <td height="32"></td>
        </tr>

        <!-- Header -->
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
              <tr bgcolor="#0f375b">
                <td width="550" style="height: 67px; font-family: Arial, sans-serif; font-size:16px; line-height:18px; font-weight:bold; color:#ffffff; padding-left: 16px;">
                  Прогнозирование осложнений
                </td>

                <td width="50">
                  <img id="gpnLogoImg" src="http://localhost/img/logo.png" width="50" height="67" alt=""/>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td height="12"></td>
        </tr>

        <!-- Sub-header -->
        <tr bgcolor="#e4e4e4">
          <td style="height: 60px; padding-left: 16px; font-family: Arial, sans-serif; font-size:18px; font-weight:bold; color:#21395e; border-width: 1px; border-style: solid; border-color: #dbdbdb;">
            Сводный отчёт
          </td>
        </tr>

        <tr bgcolor="#ffffff">
          <td style="height: 32px;"></td>
        </tr>

        <!-- Content 1 -->
        <tr>
          <td bgcolor="#ffffff">
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
              <tr>
                <td style="width: 32px;"></td>

                <td style="width: 194px;" valign="top">
                  <table bgcolor="#f2dedf" cellpadding="0" cellspacing="0" border="0" align="left" style="width: 100%;">
                    <tr>
                      <td style="width: 12px;"></td>

                      <td>
                        <table cellpadding="0" cellspacing="0" border="0" align="left" style="width: 100%; color: #c05c5a;">
                          <tr style="height: 12px; line-height: 0;">
                            <td></td>
                          </tr>

                          <tr>
                            <td style="font-size:11px;">Период</td>
                          </tr>
                          <tr>
                            <td style="font-weight:bold; font-size:12px;">Месяц</td>
                          </tr>

                          <tr style="line-height: 0; height: 12px;">
                            <td></td>
                          </tr>

                          <tr>
                            <td style="font-size:11px; white-space: nowrap;">Спрогнозированные события</td>
                          </tr>
                          <tr>
                            <td style="font-weight:bold; font-size:48px; mso-line-height-rule:exactly; line-height: 48px;">125</td>
                          </tr>


                          <tr>
                            <td style="mso-line-height-rule:exactly; line-height: 8px;">&nbsp;</td>
                          </tr>
                        </table>
                      </td>
                      <td style="width: 12px;"></td>
                    </tr>
                  </table>
                </td>

                <td style="width: 12px;"></td>

                <td style="width: 330px;" valign="top">
                  <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                    <tr>
                      <td width="100%" style="font-size:15px; line-height:20px; color:#555;">
                        <p style="font-size:18px; line-height:22px; padding-bottom:4px; color:#707277; margin:0; font-weight:bold; text-decoration:none; border-bottom: 2px solid #c1c3c6;">
                          Распределение прогноза по&nbsp;фазам
                        </p>

                        <table width="100%">
                          <tr>
                            <td width="30%" align="right" style="color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; padding-right:10px; vertical-align:top;">
                              Бурение:
                            </td>
                            <td align="left" style="font-weight:bold; color:#6f7072; font-size:11px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              100
                            </td>
                          </tr>
                          <tr>
                            <td width="30%" align="right" style="color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; padding-right:10px; vertical-align:top;">
                              Подъём:
                            </td>
                            <td align="left" style="font-weight:bold; color:#6f7072; font-size:11px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              20
                            </td>
                          </tr>
                          <tr>
                            <td width="30%" align="right" style="color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; padding-right:10px; vertical-align:top;">
                              Спуск:
                            </td>
                            <td align="left" style="font-weight:bold; color:#6f7072; font-size:11px; line-height:18px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              5
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>

                  </table>
                </td>

                <td style="width: 32px;"></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr bgcolor="#ffffff">
          <td style="height: 32px;"></td>
        </tr>

        <!-- Content 2 -->
        <tr>
          <td bgcolor="#ffffff">
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
              <tr>
                <td style="width: 32px;"></td>

                <td style="width: 536px;">
                  <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                    <tr>
                      <td width="100%" style="font-size:15px; line-height:20px; color:#555;">
                        <p style="font-size:18px; line-height:22px; padding-bottom:4px; color:#707277; margin:0; font-weight:bold; text-decoration:none; border-bottom: 2px solid #c1c3c6;">
                          Распределение прогноза по&nbsp;типу&nbsp;осложнения
                        </p>

                        <table width="100%">
                          <tr>
                            <td width="30%" align="right" style="color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; padding-right:10px; vertical-align:top;">
                              Слом через промыв:
                            </td>
                            <td align="left" style="font-weight:bold; color:#6f7072; font-size:11px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              50
                            </td>
                          </tr>
                          <tr>
                            <td width="30%" align="right" style="color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; padding-right:10px; vertical-align:top;">
                              ГНВП:
                            </td>
                            <td align="left" style="font-weight:bold; color:#6f7072; font-size:11px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              50
                            </td>
                          </tr>
                          <tr>
                            <td width="30%" align="right" style="color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; padding-right:10px; vertical-align:top;">
                              Поглощение:
                            </td>
                            <td align="left" style="font-weight:bold; color:#6f7072; font-size:11px; line-height:18px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              --
                            </td>
                          </tr>
                          <tr>
                            <td width="30%" align="right" style="color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; padding-right:10px; vertical-align:top;">
                              Сальникообразованиеe:
                            </td>
                            <td align="left" style="font-weight:bold; color:#6f7072; font-size:11px; line-height:18px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              20
                            </td>
                          </tr>
                          <tr>
                            <td width="30%" align="right" style="color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; padding-right:10px; vertical-align:top;">
                              Диф. прихват:
                            </td>
                            <td align="left" style="font-weight:bold; color:#6f7072; font-size:11px; line-height:18px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              5
                            </td>
                          </tr>
                          <tr>
                            <td width="30%" align="right" style="color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; padding-right:10px; vertical-align:top;">
                              DLS:
                            </td>
                            <td align="left" style="font-weight:bold; color:#6f7072; font-size:11px; line-height:18px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              --
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>

                  </table>
                </td>

                <td style="width: 32px;"></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr bgcolor="#ffffff">
          <td style="height: 32px;"></td>
        </tr>

        <!-- Content 3 -->
        <tr>
          <td bgcolor="#ffffff">
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
              <tr>
                <td style="width: 32px;"></td>

                <td style="width: 536px;">
                  <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                    <tr>
                      <td width="100%" style="font-size:15px; line-height:20px; color:#555;">
                        <p style="font-size:18px; line-height:22px; padding-bottom:4px; color:#707277; margin:0; font-weight:bold; text-decoration:none; border-bottom: 2px solid #c1c3c6;">
                          Ошибки в&nbsp;прогнозе
                        </p>

                        <table width="100%" style="border-collapse: collapse;">
                          <tr>
                            <td width="50%" style="border-right: 1px solid #eeeeee; padding-left:6px; color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; background:#e3e4e4;">
                              Ложные срабатывания:
                            </td>
                            <td width="50%" style="padding-left:6px; color:#a7a8a9; font-size:11px; border-bottom:1px solid #eeeeee; background:#e3e4e4;">
                              Незафиксированные
                            </td>
                          </tr>
                          <tr>
                            <td width="50%" style="border-right: 1px solid #eeeeee; padding-left:6px; font-weight:bold; color:#6f7072; font-size:11px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              2
                            </td>
                            <td width="50%" style="padding-left:6px; font-weight:bold; color:#6f7072; font-size:11px; border-bottom:1px solid #eeeeee; vertical-align:top;">
                              --
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>

                  </table>
                </td>

                <td style="width: 32px;"></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr bgcolor="#ffffff">
          <td style="height: 32px;"></td>
        </tr>

        <tr>
          <td height="32"></td>
        </tr>

        <!-- Footer -->
        <tr>
          <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td style="font-size: 12px; line-height: 17px; color: #555;">
                  <p>
                    Вы получили это сообщение, потому что являетесь зарегистрированным пользователем системы «Прогнозирования
                    осложнений», а&nbsp;также включили уведомления по&nbsp;электронной почте <span id="recipientAddress">analyst@sdf.local</span>.
                  </p>
                  <p>
                    Если Вы не&nbsp;желаете получать уведомления на&nbsp;почту, то&nbsp;можете выключить уведомления в&nbsp;настройках
                    оповещений своего профиля.
                  </p>
                  <p>
                    Чтобы изменить <a href="#" style="color:#4a80c3;" id="settingsLink">настройки оповещений</a> войдите в&nbsp;свой
                    профиль.
                  </p>
                  <p>
                    Письмо сгенерировано автоматически, пожалуйста, не&nbsp;отвечайте на&nbsp;него!
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td height="64"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
